/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

.tudo {
    max-width: 100%;

}

.tudo section {
    width: 100%;
    margin: 0 auto;

}

section.menu{
    width: 85%;
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;

}

section.menu .menu__header, section.menu nav, section.menu nav .menu__list{
    display: flex;

}

section.menu nav .menu__list li {
    margin-right: 15px;
}

section.menu nav li.menu__list__item__contato{
    margin-right: 0px;
    margin-left: 0px;
    font-weight: bold;
}

section.menu .menu__header img{
    width: 22px;
    height: auto;

}

/*Sección Title*/

section.title{
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;

}

section.title .title__div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

section.title .title__div .title__profile {
    max-width: 100%;
}

section.title .title__container {
    flex-basis: 100%;
}

section.title .title__container h2{
    font-size: 3.2rem;
}

section.title .title__container h3{
    font-weight: normal;
    font-size: 1em;
    margin-top: 2em;
}

section.title .title__network{
    display: flex;
    margin-top: 2em;
}

section.title .title__network li{
    padding-right: 30px;
}
/*Sección About*/

section.about{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #EAF2FD;
    margin-top: 2em;
}

section.about .about__container{
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    padding: 4em 0;
}

section.about .about__container h3{
    width: 100%
}
section.about .about__container p{
    width: 100%;
}
/*Sección Skills*/
section.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section.skills .skills__line{
    width: 85%;
    display: flex;
    justify-content: space-between;
}

section.skills .skills__box {
    display: flex;
    background-color: white;
    padding: 5em 5em 1em 1em;
    width: 7%;
}

/*Sección Hobbies*/

section.hobbies{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 3em;
}

section.hobbies .hobbies__line{
    width: 85%;
    display: flex;
    justify-content: space-between;
}

section.hobbies .hobbies__box {
    display: flex;
    background-color: white;
    padding: 5em 5em 1em 1em;
    width: 7%;
}

section.skills h3, section.hobbies h3 {
    width: 100%;
    text-align: center;
    margin: 3rem 0;
}

/* Experiencia Académica*/

section.academic{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #EAF2FD;
}

section.academic h2 {
    width: 100%;
    text-align: center;
    margin: 3rem 0;
}
section.academic .academic__courses{
    width: 85%;
    display: flex;
    justify-content: space-between;

}

section.academic .academic__courses__box{
    
    width: 32.5%;
}

section.academic .academic__courses__item__img{
    background-color: #ffffff;
    padding: 5em 3.5em;
    text-align: center;
}

section.academic .academic__courses__item__title{
    margin-top: 1em;
}

/* experiencia*/

section.experience{
 width: 85%;
}

section.experience h2.experience__section__title{
    width: 100%;
    text-align: center;
    margin: 3rem 0;
}

section.experience .experiencie__box{
    display: flex;
    margin-top: 3em;
}

section.experience .experience__box{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 3em;
}

section.experience .experience__info h2, section.experience .experience__info h3, section.experience .experience__info div{    
    padding: .75rem 0 0 .85rem;
}

section.experience .experience__info-container h2, section.experience .experience__info-container h3, section.experience .experience__info-container div{    
    padding: .75rem 0 0 0;
}

section.experience .experience__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.experience .experience__info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.experiencia__botao--repo, .experiencia__botao--demo {
    border: 0;
    padding: 12px;
    margin-right: .5em;
}

.experiencia__botao--demo {
    color: white;
    border: 1px solid #2A7AE4;
    background-color: #2A7AE4;
}

.experiencia__botao--repo {
    color: #2A7AE4;
    border: 1px solid #2A7AE4;
}

/*Contacto*/

section.formcontato{
    display: flex;
    justify-content: center;
    background-color: #EAF2FD;
    margin-top: 3rem;
}

section.formcontato .formcontato__contacto{
    width: 85%;
    margin-top: 6rem;
    margin-bottom: 4rem;
    display: flex;
}

section.formcontato .formcontato__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1%;
}

section.formcontato .formcontato__text h3{
    font-weight: normal;
    font-size: 1em;
    margin-top: .25em;
}

section.formcontato input {
    height: 4em;
    flex: none;
    order: 0;
    align-self: stretch;
}

section.formcontato textarea {
    height: 14em;
}

section.formcontato button {
    padding: 1em;
    color: white;
    border: 1px solid #2A7AE4;
    background-color: #2A7AE4;
}

section.formcontato input, section.formcontato textarea {
    width: 100%;
    border: 0;
    padding: 5px 0 0 5px;
    transition: all .5s;
}

section.formcontato input, section.formcontato textarea, section.formcontato button {
    margin-top: 2em;
    border-bottom: 3px solid rgb(42, 123, 229, 0);
}

section.formcontato input:focus::placeholder, section.formcontato textarea:focus::placeholder {
    color: #2A7AE4;
    position: absolute;
    top: -0.1em;
    padding: 5px 0 0 0;
    font-size: .75em;
    transition: all ease-out .5s;
}

section.formcontato input:focus, section.formcontato textarea:focus {
    outline: none;
    border-bottom: 3px solid #2A7AE4;
}

/*footeer*/

section.footer{
    display: flex;
    justify-content: center;
    text-align: center;
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */

/*Tablet*/
@media (max-width: 768px) {

/* Menú */
section.menu .menu__list {
    display: none !important;
}
/*title*/
section.title .title__div .title__profile {
    max-width: 50%;
    flex-shrink: 2;
}
section.title .title__container {
    flex-shrink: 1;
    max-width: 100%;
}
section.title .title__container h2{
    font-size: 1.5rem;
}
/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/
 
/*Formación Académica*/

/*Experiencia Profesional*/

 /*Contacto*/

/*Footer*/

}